body{
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat; /*que no se repita*/
  background-position: center;
  padding: 10%
}
.titulo{
  text-align: center;
  padding: 10%;
}
.botones{
  text-align: center;
}
.botones {
  padding: 2%;
  border-radius: 7px;
  font-size: 20px;
  background-color: antiquewhite;
  margin: 2% 2% 6% 2%;
}

button:hover {/*para que el boton se ponga de otro color al ponerse arriba*/
 background-color: black;
 color:white;
}

.text_hide {
background-color: aliceblue;
padding: 2%;
border: 2px solid red;
border-radius: 7px;
margin-bottom: 5% ;
}
.img{
  width: 100%;
}
.img_show {
  display: none;
}
.ada{
background-color: aliceblue;
padding: 2%;
border: 2px solid red;
border-radius: 7px;
margin-bottom: 5% ;
}
.hide{
  display: none;
}